<div class = "data-panel">
    <div id="experienceDistributionChart"></div>
</div>
<div class="data-panel">
	<h3>Total Experience Distribution</h3>
	<%=render :partial=>'partials/home/breakdowns/experience', :locals=>{:experience_breakdown=>@experience_breakdown}%>
	<%=link_to "Export Table to Excel", export_experience_breakdown_path(), :class=>'button-link'%>
</div>
