<%title "Export Checklist information"%>

<div>
<div class="label_text float-left clear_left"><h4>Missing Checklist Information</h4></div>
<div id="options" class="float-left">
	<%= form_tag('checklist_report_exporter') do %>
	<%=submit_tag "Generate"%>
	<%end%>
</div>
</div>
