<%title "Export Profiles Who Dont have Pictures"%>
<div>
	<div class="label_text float-left clear_left">
	     <h4>Export Profiles Who dont have pictures</h4>
	</div>
	<div id="options" class="float-left">
	     <%=link_to 'Generate', export_people_with_no_pictures_path, :class=>'button-link'%>
	</div>
</div>