<%= title "Export Profiles  With No Passport"%>

<div>
<div class="label_text float-left clear_left"><h4>Employees With No Passport</h4></div>
<div id="options" class="float-left">
	<%= form_tag('no_passport_exporter') do %>
	<%= submit_tag "Generate"%>
	<%end%>
</div>
</div>
