<%= title "Export Profiles Whose Passports Have Expired"%>
<div>
<div class="label_text float-left clear_left">
<h4>Employees Whose Passports Have Expired</h4>
</div>
<div id="options" class="float-left">
	<%= form_tag('passport_expired_profiles_exporter') do %>
	<%=submit_tag "Generate"%>
	<%end%>
</div>
</div>
