<div id="experience"><h3>Experience</h3></div>
<table>
	<tr>
		<td>Total Experience Prior to TW(In months)</td>
		<td><%= f.text_field :years_of_experience%></td>
		<td><span style="color:red"> <%= f.error_message_on 'years_of_experience'  %></span></td>
	</tr>
</table>
<br/><br/>
