<%= link_to image_tag(image_url), :controller=>'picture', :action=>'get', :id=>@profile.id %><br/>
<%= link_to button_label, {:controller => 'picture', :action => 'get', :id => @profile.id}, :id => method_name %>
