<%form_for visa ,:url=>{:controller=>'visa',:action=>'update', :id=>visa.id,:profile_id=>@profile.id} do |f|%>
<%=render :partial=>'partials/visa/visa_information',:locals=>{:visa=>visa,:f=>f}%>
<%end%>